{% extends './main/base_main.html' %}

{% block title %}home page{% endblock %}

{% block contents %}
<link rel="stylesheet" href="./static/main/about.css">
 <footer class="footer">
     <div class="footer-contenido">
         <h2>Taller Palacios</h2>
         <h5>Al servicio del motor</h5>
     </div>
     <div class="social">
         <a href="">
             <i class="fa-brands fa-whatsapp"></i> 
         </a>
         <a href=" aqui face">
             <i class="fa-brands fa-facebook"></i>
         </a>
         <a href="buscar otro red">
             <i class="fa-brands fa-github"></i>
         </a>
         <a href="buscar otra red">
             <i class="fa-brands fa-instagram"></i>
         </a>
     </div>
 </footer>
{% endblock %}