{% extends './main/base_main_log.html' %}

{% block title %}home page{% endblock %}

{% block contents %}
<h1 id="inicio"> </h1>
<link rel="stylesheet" href="./static/main/homelogin.css">

<div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <img src="../static/img/1log.png">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="../static/img/2log.png">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="../static/img/3log.png">
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>

<div class="servicios">
    <img src="../static/img/100.png"alt="GP">
    
    <div class="servicios-info">
        <h2 id="sobre">Experto Contrato de Mantenimiento</h2>
    <p><p>
    <p>1.Contamos con un novedoso programa de mantenimiento que te ahorrara dinero!</p>
    <p>2.Confianos tu automovil y evita imprevistos!</p>
    <p>3.Nosotros llevaremos el control de tu vehiculo, no tendras que preocuparte por nada!</p>
    <form class="mejores-trabajos">
        </a>
    <form>
    </div>
</div>
</div>
<section class="tabla">
    <div>
        <table id="messages">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>placa</th>
                <th>modelo</th>
                <th>version</th>
                <th>neumatico</th>
                <th>color</th>
                <th>año</th>
            </tr>
            {% for carro in carros %}
            <tr>
                <td>{{ carro.id}}</td>
                <td>{{ carro.n_contacto}}</td>
                <td>{{ carro.placa }}</td>
                <td>{{ carro.marca}}</td>
                <td>{{ carro.modelo }}</td>
                <td>{{ carro.version }}</td>
                <td>{{ carro.neumatico }}</td>
                <td>{{ carro.color }}</td>
                <td>{{ carro.anno }}</td>
            </tr>
            {% endfor %}
            
        </table>
        
    </div>
</section>

<div class="sobre">
<img src="../static/img/200.png" alt="GP">

<div class="sobre-info">
    <h2 id="contacto">Taller Online</h2>
<p>1.Monitoreo a tiempo real de tu vehiculo, en cualquier momento y lugar en el que te encuentres.</p>
<p>2.Agenda tu cita para mantenimiento o limpieza del vehiculo</p>
<p>3.Pago de cuotas de forma y mucho mas!</p>
</div> 
</div>


<section class="footer">
	<p>Santa Tecla, La Libertad, El Salvador | Telefono:2288 8226 | Email: rodrigo.palacios@gmail.com</p>
	<p>Copyright © 2022 Taller Palacios</p>
</section>


<div class="icon-bar">
	<a href="https://www.facebook.com/tallerpalaciossv" class="facebook" target="feralbanez">
	  Facebook <i class="fab fa-facebook-square"></i>
	</a>
	<a
	  href="https://www.instagram.com/tallerpalaciossv/"
	  class="instagram"
	  target="feralbanz"
	>
	  Instagram <i class="fab fa-instagram"></i>
	</a>
	<a href="https://api.whatsapp.com/send?phone=50371602719" class="telegram" target="feralbanez">
	  WhatsApp <i class="fab fa-telegram-plane"></i>
	</a>


</div>



</body>
</html>
{% endblock %}
