{% extends 'layout.html' %}
{% block title %}register page{% endblock %}
{% block contents %}
<link rel="stylesheet" href="./static/admin/carro.css">
<div class="seccion-contacto">
    <div class="contacto-h">
     <h2>Bienvenid@</h2>
     <h3>aquí puedes registrar tus datos</h3> 
     <div class="divider"></div> 
    </div>
    <div class="container-contact" >
         
        <div class="contacto-form">
            <br>
            <form class="form" action="{{ url_for('dash.carro') }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.placa.label }}
                {{ form.placa }}
                {{ form.marca.label}}
                {{ form.marca }}
                {{ form.modelo.label }}
                {{ form.modelo }}
                {{ form.version.label }}
                {{ form.version }}
                {{ form.neumatico.label }}
                {{ form.neumatico }}
                {{ form.color.label }}
                {{ form.color }}
                {{ form.anno.label }}
                {{ form.anno }}
                {{ form.submit }}
            </form>
            <br>
        </div>
    </div>

</div>


<a href="{{ url_for('dash.home') }}">Home</a>
{% endblock %}